---
layout: default
---
	<!-- Document Wrapper
	============================================= -->
	<!--<div id="wrapper" class="clearfix">

<!-- Header
============================================= -->
{% include header.html %}

		<section id="slider" class="slider-element slider-parallax full-screen with-header swiper_wrapper clearfix">

            <!---->

                <!---->

                <div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
                        <div class="swiper-slide dark" style="background-image: url('images/cover.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">RGB+D DATASET</h2>
									<p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">large-scale RGB-D database</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<section class="content-wrap">
        <section id="main" class="page-section section nobg nomargin">
          <div class="container clearfix">
            <div class="heading-block center">
              <h2>large-scale<span> RGB+D </span>Database</h2>
              <span>through comprehensive performance analysis.</span>
            </div>
            <div class="clear"></div>
            <div class="col_full">

                <!--image comparator--
                <div id="comparison" class="twentytwenty-container bottommargin-lg">
                    <img src="/images/comparison1.png">
                    <img src="/images/comparison2.png">
                </div>
                !--image comparator end-->
                <div class="col_full portfolio-single-image">
                    <div class="fslider" data-arrows="true" data-animation="slide">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide"><a href="#"><img src="/images/overview-in1.png" alt=""></a></div>
                                <div class="slide"><a href="#"><img src="/images/overview-in2.png" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div><!-- .portfolio-single-image end -->
                <div class="col_full portfolio-single-image">
                    <div class="fslider" data-arrows="true" data-animation="slide">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide"><a href="#"><img src="/images/overview-out1.png" alt=""></a></div>
                                <div class="slide"><a href="#"><img src="/images/overview-out2.png" alt=""></a></div>
                                <div class="slide"><a href="#"><img src="/images/overview-out3.png" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div><!-- .portfolio-single-image end -->

              <div id="section-overview" class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Overview<span></span></h4>
              </div>
              <h4>We introduce an RGB-D scene dataset consisting of more than 200 indoor / outdoor scenes.</h4>
              <p>This dataset contains synchronized RGB-D frames from both Kinect v2 and Zed stereo camera. For the outdoor scene, we first generate disparity maps using an accurate stereo matching method and convert them using calibration parameters. A per-pixel confidence map of disparity is also provided. Our scenes are captured at various places, e.g., offices, rooms, dormitory, exhibition center, street, road etc., from Yonsei University and Ewha University</p>
              <p>This dataset has been used to train convolutional neural networks in our project [1] and for our papers[2], [3], [4], [5] <br>
                <span>"High quality 2D-to-multiview contents generation from large-scale RGB-D database"</span>, under Grant by the Institute for Information and Communications Technology Promotion(IITP) through the Korean Government(MSIP)(R0115-16-1007)</p>
            </div>

            <div class="col_full">
              <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Citations<span></span></h4>
              </div>
              <h4>If you use this dataset in your research, please cite these publications :</h4>
              <ol>
                <li><span><a href="/downloads/technical_report.pdf">DIML/CVL RGB-D technical_report</a></span>  : This material is presented to provide a detailed description about the DIML/CVl RGB-D dataset.
								</li>
                <li>Y. Kim, B. Ham, C. Oh, and K. Sohn, "Structure selective depth super-resolution for RGB-D cameras," IEEE Trnas. on Image Processing, vol.25, no. 11, pp. 5527-38, Nov. 2016. <a href="http://diml.yonsei.ac.kr/DIML_rgbd_dataset/paper/Structure%20selective%20depth%20super-resolution%20for%20RGB-D%20cameras_Y.Kim.pdf">[Paper]</a> <a href="http://diml.yonsei.ac.kr/~kyj/">[Project Page]</a>
								</li>
                <li>S. Kim, D. Min, B. Ham, S. Kim and K. Sohn, "Deep Stereo Confidence Prediction for Depth Estimation," IEEE International Conference on Image Processing, Sept. 2017. <a href="http://diml.yonsei.ac.kr/DIML_rgbd_dataset/paper/Deep%20Stereo%20Confidence%20Prediction%20for%20Depth%20Estimation_S.Kim.pdf">[Paper]</a><a href="http://diml.yonsei.ac.kr/DIML_rgbd_dataset/code/ICIP17_confidence1.zip"> [Code]</a>
								</li>
                <li>Y. Kim, H. Jung, D. Min, and K. Sohn, "Deep Monocular Depth Estimation via Integration of Global and Local Predictions," IEEE Trnas. on Image Processing, vol.27, no. 8, pp. 4131-43, Aug. 2018. <a href="http://diml.yonsei.ac.kr/DIML_rgbd_dataset/paper/Deep%20Monocular%20Depth%20Estimation%20via%20Integration%20of%20Global%20and%20Local%20Predictions_Y.kim.pdf">[Paper]</a><a href="http://diml.yonsei.ac.kr/~kyj/"> [Project Page]</a>
								</li>
								<li>
									J. Cho, D. Min, Y. Kim, and K. Sohn, "A Large RGB-D Dataset for Semi-supervised Monocular Depth Estimation,"  IEEE Trans. on Image Processing (TIP), Submitted.<a href="https://arxiv.org/abs/1904.10230">[Paper]</a>
								</li>
            </ol>
            </div>


            <div class="clear"></div>

            <ul class="clients-grid grid-3 nobottommargin clearfix">
              <li><a href="http://diml.yonsei.ac.kr"><img src="images/clients/1.png" height="80" alt="Yonsei DIML"></a></li>
              <li><a href="http://cvl.ewha.ac.kr/dongbo.html"><img src="images/clients/2.png" height="80"  alt="Ewha CV Lab"></a></li>
              <li><a href="http://www.netcomsolution.co.kr/"><img src="images/clients/3.png" height="80" alt="Netcom Solutions"></a></li>
            </ul>

          </div>
        </section>

        <section id="section-count" class="page-section">

          <div class="section dark parallax nobottommargin" style="padding: 80px 0;background-image: url('images/parallax.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">

            <div class="container clearfix">

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-home2"></i>
                <div class="counter counter-lined"><span data-from="100" data-to="501796" data-refresh-interval="10" data-speed="2000"></span></div>
                <h5>Indoor Data</h5>
              </div>

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-leaf"></i>
                <div class="counter counter-lined"><span data-from="100" data-to="206322" data-refresh-interval="10" data-speed="2500"></span></div>
                <h5>Outdoor Data</h5>
              </div>

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-coffee2"></i>
                <div class="counter counter-lined"><span data-from="10" data-to="3861" data-refresh-interval="25" data-speed="3500"></span></div>
                <h5>Cups of Coffee</h5>
              </div>

              <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-book"></i>
                <div class="counter counter-lined"><span data-from="0" data-to="13" data-refresh-interval="10" data-speed="2700"></span>+</div>
                <h5>Citations</h5>
              </div>

            </div>

          </div>

        </section>

        {% include sampledata.html %}

        <section id="section-rawdata" class="topmargin-lg">
            <div class="promo promo-dark promo-full promo-uppercase bottommargin">
                <div class="container clearfix">
                    <h3> Download our full <span>Raw Dataset</span></h3>
                    <span>Are you ready to dive into our RGB-D Dataset?</span>
                    <a href="/rawdata" class="button button-xlarge button-rounded" data-animate="tada">Download</a>
                </div>
            </div>
        </section>

        <div class="clear"></div>



        <div class="divider divider-short divider-center topmargin-lg"><i class="icon-star3"></i></div>

        {% include contact.html %}

        {% include counter.html %}

        </section> <!-- wrapper -->


		</section><!-- #content end -->

	</div><!-- #wrapper end -->
