---
layout: default
---
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  {% include header.html %}

  <div class="clear"></div>

  <!-- Content
  ============================================= -->
  <section id="content">

    <section class="content-wrap">
      <section id="indoor" class="page-section section nomargin">
        <div class="heading-block center">
          <h2>Raw Dataset</h2>
          <span>Are you ready to dive into our RGB-D Dataset?</span>
        </div>

        <div class="content-wrap nobottompadding">

          <div class="container clearfix">

            <!-- Portfolio Filter
                      ============================================-->
            <div id="portfolio-shuffle1" class="portfolio-shuffle" data-container="#portfolio">
              <i class="icon-random"></i>
            </div>

          </div>

          <!-- Portfolio Items
                  ============================================= -->
          <div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full clearfix">

            {% for label in site.data.rawdata.indoor %}
            <article class="portfolio-item indoor">
              <div class="portfolio-image">
                <img src="/images/dataset/in{{label.index}}.png" alt="Open Imagination">
                <div class="portfolio-overlay">
                  <a href="{{label.link1}}" class="left-icon" data-lightbox="image">{{label.num1}}</a>
                  <a href="{{label.link2}}" class="right-icon" data-lightbox="image">{{label.num2}}</a>
                </div>
              </div>
              <div class="portfolio-desc">
                <h3>{{label.label}}</h3>
              </div>
            </article>
            {% endfor %}

          </div>
        </div>
      </section><!-- #content end -->

      <section id="outdoor" class="page-section section nomargin">
      <div class="content-wrap nobottompadding">

        <div class="container clearfix">

          <!-- Portfolio Filter
                    ============================================-->
          <div id="portfolio-shuffle2" class="portfolio-shuffle" data-container="#portfolio">
            <i class="icon-random"></i>
          </div>

        </div>

        <!-- Portfolio Items
                ============================================= -->
        <div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full clearfix">

          {% for label in site.data.rawdata.outdoor %}
          <article class="portfolio-item indoor">
            <div class="portfolio-image">
              <img src="/images/dataset/out{{label.index}}.png" alt="Open Imagination">
              <div class="portfolio-overlay">
                <a href="{{label.link1}}" class="icon" data-lightbox="image">{{label.num1}}</a>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>{{label.label}}</h3>
            </div>
          </article>
          {% endfor %}

        </div>
      </div>
      </section><!-- #content end -->

      <div class="clear"></div>

    </section><!-- #content end -->
  </section>
</div>