---
layout: default
---
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  {% include header-rawdata.html %}

  <div class="clear"></div>

  <!-- Content
  ============================================= -->
  <section id="content">

    <!--<section class="content-wrap">-->
      <section id="rawdata" class="page-section section nomargin nobottompadding">
        <div class="heading-block center">
          <h2>Download Raw Dataset</h2>
          <span>Are you ready to dive into our RGB-D Dataset?</span>
        </br>

          <div class="center">

            <a href="https://drive.google.com/drive/folders/1ebTSu4W6kbGFyDjeBsekXBUGKba47_5m" target="_blank" data-animate="tada" class="button button-desc button-3d button-rounded button-blue center"><i class="icon-download"></i></br></br>Download Dataset
            <span>Redirected to Google Drive.</span>
           </a>




<!-- modal button start -->
<!--
        <button data-animate="tada" class="button button-desc button-3d button-rounded button-blue center" data-toggle="modal" data-target="#myModal"><i class="icon-download"></i></br></br>Download Dataset
        <span>Redirected to Google Drive.</span>
        </button>

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          							<div class="modal-dialog">
          								<div class="modal-body">
          									<div class="modal-content">
          										<div class="modal-header">
          											<h4 class="modal-title" id="myModalLabel">Alert</h4>
          											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          										</div>
          										<div class="modal-body">
          											<h4>Under construction<h4>
          										</div>
          										<div class="modal-footer">
          											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          										</div>
          									</div>
          								</div>
          							</div>
          						</div> -->

<!-- modal button end -->


          </div>
        </div>
      </section>
      <!-- </section> -->

        <section id="indoor" class="page-section section nomargin  nobottompadding no nobottommargin">
          <div class="heading-block center">
            <h3>What's inside our dataset?</h3>
            <span>Let's have a look our dataset.</span>
          </div>
        </section>

      <section id="outdoor" class="page-section section nomargin nopadding">
        <div class="heading-block center nobottomborder">
          <h4><span>Indoor</span> Data</h4>
          <p>[Place]-[Dates]-[Folder #]-[Frame #]</p>
        </div>
        <!-- Portfolio Items
                ============================================= -->
          <div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full clearfix">

            {% for label in site.data.rawdata.indoor %}
            <article class="portfolio-item indoor">
              <div class="portfolio-image">
                <img src="/images/dataset/in{{label.index}}.png" alt="Open Imagination">
            </div>
            <div class="portfolio-desc">
              <h3>{{label.label}}</h3>
            </div>
          </article>
          {% endfor %}

        </div>
      </section><!-- #content end -->


      <section id="outdoor" class="page-section section nomargin">
          <div class="heading-block center nobottomborder">
            <h4><span>Outdoor</span> Data</h4>
            <p>[Place]-[Dates]-[Folder #]-[Frame #]</p>
          </div>
        <!-- Portfolio Items
                ============================================= -->
          <div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full clearfix">

          {% for label in site.data.rawdata.outdoor %}
          <article class="portfolio-item indoor">
            <div class="portfolio-image">
              <img src="/images/dataset/out{{label.index}}.png" alt="Open Imagination">
              <!-- <div class="portfolio-overlay">
                <a href="{{label.link1}}" class="icon" data-lightbox="image">{{label.num1}}</a>
                <a class="icon" data-lightbox="image">{{label.num1}}</a>
              </div> -->
            </div>
            <div class="portfolio-desc">
              <h3>{{label.label}}</h3>
            </div>
          </article>
          {% endfor %}

        </div>
      </section><!-- #content end -->

      <div class="clear"></div>

    </section><!-- #content end -->
  <!--</section>-->
</div>
