<section id="map-overlay">

    <div class="container clearfix">

        <!-- Contact Form Overlay
        ============================================= -->
        <div id="contact-form-overlay-mini" class="clearfix">

            <div class="fancy-title title-dotted-border">
                <h3>Send us an Email</h3>
            </div>

            <div class="contact-widget">

                <div class="contact-form-result"></div>

                <!-- Contact Form
                ============================================= -->
                <form class="nobottommargin" id="template-contactform" name="template-contactform">
                    <div class="col_full">
                        <label>Address</label>
                        <p>C129, The 3rd Engineering Building, </br>
                            Yonsei University,</br>
                            50 Yonsei-ro, Seodaemun-Gu, Seoul, </br>
                            Republic of Korea
                        </p>
                    </div>

                    <div class="col_full">
                        <label>Phone</label>
                        <p>(+82) 02 000 0000</p>
                    </div>

                    <div class="clear"></div>

                    <div class="col_full">
                        <label>Email</label>
                        <p>diml.rgbd@gmail.com</p>
                    </div>
                </form>

            </div>


        </div><!-- Contact Form Overlay End -->

    </div>

    <!-- Google Map
    ============================================= -->
    <section id="google-map" class="gmap"></section>

</section><!-- Contact Form & Map Overlay Section End -->