<section id="map-overlay">

    <div class="container clearfix">

        <!-- Contact Form Overlay
        ============================================= -->
        <div id="contact-form-overlay-mini" class="clearfix">

            <div class="fancy-title title-dotted-border">
                <h3>Contact Us</h3>
            </div>

            <div class="contact-widget">

                <div class="contact-form-result"></div>

                <!-- Contact Form
                ============================================= -->
                <form class="nobottommargin" id="template-contactform" name="template-contactform">
                    <div class="col_full">
                        <label>Address</label>
                        <p>C129, The 3rd Engineering Building, </br>
                            Yonsei University,</br>
                            50 Yonsei-ro, Seodaemun-Gu, Seoul, </br>
                            Republic of Korea
                        </p>
                    </div>

                    <div class="col_full">
                        <label>Lab Homepage</label>
                        <p><a href="http://diml.yonsei.ac.kr">http://diml.yonsei.ac.kr</a></p>
                    </div>

                    <!--<div class="clear"></div>-->

                    <div class="col_full">
                        <label>Email</label>
                            <p>rehoon@yonsei.ac.kr</p>
                    </div>
                </form>
            </div>


        </div><!-- Contact Form Overlay End -->

    </div>

    <!-- Google Map
    ============================================= -->
    <section id="google-map" class="gmap"></section>

</section><!-- Contact Form & Map Overlay Section End -->
