<section id="section-api" class="page-section topmargin-lg">
    <!--<div class="heading-block center bottommargin-lg">-->
        <!--<h2>Visitor Around the World</h2>-->
        <!--<span>We are Friends!</span>-->
    <!--</div>-->

    <!--<div class="container clearfix center">-->
        <!--<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=080808&w=800&t=n&d=izLK_oVXb9IINpoc7IyKfO96-ALf2FearY2J1ygFbhM&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080"></script>-->
    <!--</div>-->

    <div class="nobottommargin center">

        <!-- Start of CuterCounter Code -->
        <a href="" target="_blank"><img src="http://www.cutercounter.com/hit.php?id=gurnfcnq&nd=5&style=28" width="100px" border="0" alt="visitor counter"></a>
        <!-- End of CuterCounter Code -->
        <!--<div class="counter counter-large">-->
            <!--<span data-from="100" data-to="6200" data-refresh-interval="50" data-speed="2500"></span>-->
        <!--</div>-->
        <h5>Total Visitors</h5>
    </div>





</section>
