<section id="section-api" class="page-section topmargin-lg">
    <div class="heading-block center bottommargin-lg">
        <h2>Visitor Around the World</h2>
        <span>We are Friends!</span>
    </div>

    <div class="container clearfix center">
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=n&d=izLK_oVXb9IINpoc7IyKfO96-ALf2FearY2J1ygFbhM&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
    </div>

    <div class="divider divider-short divider-center topmargin-lg"><i class="icon-star3"></i></div>

</section>
