<section id="section-sampledata" class="topmargin-lg">
    <div class="heading-block title-center nobottomborder page-section">
        <h2>Sample Data</h2>
        <span>Do you want to preview our dataset?</span>
    </div>

    <div class="container clearfix">
        <div class="row pricing bottommargin clearfix">

            <div class="col-lg" data-animate="fadeInLeft">

                <div class="pricing-box">
                    <div class="pricing-title">
                        <h3>Indoor Data</h3>
                        <span>Kinect</span>
                    </div>
                    <div class="pricing-price"><img src="images/sample-indoor.png" width='80%' alt="sample-indoor-image"></div>
                    <div class="pricing-features">
                        <ul>
                            <li><strong>depth_field</strong> : filled depth images using colorization (mm, 16bit png)</li>
                            <li><strong>depth_raw</strong> : Raw depth images (mm, 16bit png)</li>
                            <li><strong>depth_v</strong> : Normalized depth images for visualization purpose (8bit png)</li>
                            <li><strong>color</strong> : Color images obtained from Kinect v2 (8bit png)</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <div class="col_half">
                            <a href="https://drive.google.com/open?id=1pQ2Hxd6M9G7-sijgfVD222I-bGnAou1U" class="button button-rounded button-reveal button-large button-border tright"><i class="icon-cloud-download"></i><span>Training 1500</span></a>
                            <div class="pricing-meta">HR - 2.8 GB, LR - 706 MB</div>
                        </div>
                        <div class="col_half.col_last">
                            <a href="https://drive.google.com/open?id=1yP7mRjE4X2mP0DEE-WMO884bleVKvUT_" class="button button-rounded button-reveal button-large button-border tright"><i class="icon-cloud-download"></i><span>Testing 500</span></a>
                            <div class="pricing-meta">HR - 847 MB, LR - 208 MB</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg" data-animate="fadeInRight"  data-delay="200">

                <div class="pricing-box best-price">
                    <div class="pricing-title">
                        <h3>Outdoor Data</h3>
                        <span>ZED</span>
                    </div>
                    <div class="pricing-price"><img src="images/sample-outdoor.png" width='80%' alt="sample-outdoor-image"></div>
                    <div class="pricing-features">
                        <ul>
                            <li><strong>Left</strong> Left images obtained from ZED camera (8bit png)</li>
                            <li><strong>Right</strong> : Right images obtained from ZED camera (8bit png)</li>
                            <li><strong>Disparity</strong> : Disparity maps obtained by stereo matching (8bit png)</li>
                            <li><strong>Depth</strong> : Disparity -> Depth (mm, 16bit png)</li>
                            <li><strong>Confidence</strong> : Confidence maps for stereo matching (8bit png)</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <div class="col_half">
                            <a href="https://drive.google.com/open?id=12b8IWA249ITdz259OPHEaQf0GxKRopVb" class="button button-rounded button-reveal button-large button-border tright"><i class="icon-cloud-download"></i><span>Training 1500</span></a>
                            <div class="pricing-meta">HR - 9.9 GB, LR - 1.8 GB</div>
                        </div>
                        <div class="col_half.col_last">
                            <a href="https://drive.google.com/open?id=1WNVBcPziFqQFvdE6zg4avMHxhL4Pr5V5" class="button button-rounded button-reveal button-large button-border tright"><i class="icon-cloud-download"></i><span>Testing 500</span></a>
                            <div class="pricing-meta">HR - 3.5 GB, LR - 610 MB</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
